<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Register</title>
    <style>
      .loginContainer { display: flex; align-items: center; justify-content: center; height: 100vh; background-color: #f8f9fa; } 
      .login-container { max-width: 400px; width: 100%; padding: 15px; background-color: white; border: 1px solid #dee2e6; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); }
    </style>
  </head>
  <body>
    <div class='loginContainer flex-column'>
      {{#if errorMessage}}
        <div
          style='width: 700px;'
          class='alert alert-danger'
          role='alert'
          id='error-alert'
        >
          {{errorMessage}}
        </div>
      {{/if}}
      <div class='login-container'>
        <h2 class='text-center mb-4'>Register</h2>
        <form action='/register' method='post'>
          <div class='mb-3'>
            <label for='name' class='form-label'>Name</label>
            <input
              type='text'
              name='name'
              class='form-control'
              id='name'
              value='{{name}}'
              required
            />
            <p style='color: red;'>{{validationError.name}}</p>
          </div>
          <div class='mb-3'>
            <label for='username' class='form-label'>Username</label>
            <input
              type='text'
              name='username'
              class='form-control'
              id='username'
              value='{{username}}'
              required
            />
            <p style='color: red;'>{{validationError.username}}</p>
          </div>
          <div class='mb-3'>
            <label for='password' class='form-label'>Password</label>
            <input
              name='password'
              type='password'
              class='form-control'
              id='password'
              required
            />
            <p style='color: red;'>{{validationError.password}}</p>
          </div>
          <div class='mb-3'>
            <label for='confirmPassword' class='form-label'>Confirm Password</label>
            <input
              name='confirmPassword'
              type='password'
              class='form-control'
              id='confirmPassword'
              required
            />
            <p style='color: red;'>{{validationError.confirmPassword}}</p>
          </div>
          <button type='submit' class='btn btn-primary w-100'>Register</button>
        </form>
        <div class='mt-3 text-center'>
          <span>Already have an account? <a href='/login'>Login</a></span>
        </div>
      </div>
    </div>
  </body>
</html>